button{
  background-color: rgba(37, 33, 33, 0.788);
  box-shadow: 5px 5px 5px rgba(37, 36, 36, 0.541) ;
  color:aliceblue;
  transition:1s;
  height: 20px;
  width:100px;
  border-radius: 20px;
}
button:hover{
  box-shadow:10px 10px 10px rgba(23, 23, 23, 0.541) ;
  transform: translate(10px,10px);
  height: 30px;
  width:120px;
  content:"abc";
}